
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* Barre de navigation */
nav {
  background-color: #e67811e0;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Conteneur principal */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ligne de séparation */
hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}
.content-container {
  padding: 20px;
}

.table-section {
  margin: 20px 0;
}

.chart-section {
  margin: 20px 0;
}

.divider {
  margin: 40px 0;
  border: 1px solid #ddd;
}

button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e06c0c;
}

/* Animation pour le titre */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
